[2016-04-09 05:53] zuphilip opened #1 "Installation error"
[code]

[2016-04-09 11:28] kba commented on #1
Until now, you have to run `make` (without arguments) and then `make install`. Should be fixed now, `make install` should download Saxon-HE if it's not there.

[2016-04-09 11:45] zuphilip commented on #1
Okay, it downloads the file but there is another error now:
[code]

[2016-04-09 11:57] kba commented on #1
I just committed my changes to this repo, please do `git pull`, `make clean` and `[sudo] make install`. Thanks!

[2016-04-09 16:09] zuphilip commented on #1
Yes, installation works now! Thank you!

[2016-04-09 16:09] #1 closed

[2016-05-08 11:36] zuphilip opened #6 "alto2hocr: Hyphenation sign is not handled correctly"
Example (the dash is actually normally an em dash):

[code]

will be transformed into

[code]

and the dash is missing. For correct presentation (and error computation) it should be part of the first word here. Can this been easily done with the XSLT approach here?

[2016-05-08 12:18] zuphilip opened #7 "Support ALTO version 3.0, 3.1"
Here are some new features: http://altoxml.github.io/documentation/use-cases/shape/ALTO_shape_usecases.html

Should we support these new versions? Are there any use cases at the moment?

[2016-05-08 16:51] stweil commented on #6
Obviously ALTO uses a `<HYP>` tag which is currently not handled by the transformation. I did not find a similar tag in the hOCR specification.

http://digi.bib.uni-mannheim.de/~stweil/ocr-praxis/Testseiten/hocr/417576986_0012.hocr is the result of an extended style sheet where I used a quick hack to produce something useful.

[2016-05-08 17:59] zuphilip commented on #6
Hm.. I see an extra node in your result which results in another space. Our goal is to receive
[code]

I think we can try to replace [these lines](https://github.com/UB-Mannheim/ocr-transform/blob/master/alto2hocr.xsl#L92-L96) with something like
[code]
But this is untested...

[2016-05-09 20:46] kba commented on #7
Eventually, also [recording of glyph positions](https://github.com/altoxml/schema/issues/26) but not sure if&when.

Skewed Text and polygons are possible with hOCR, so should be a transformation.

3.0 did not seem to bring [many notable changes](https://github.com/altoxml/documentation/wiki/v3.0-Changes), so it's probably straightforward to implement hocr-alto3.1

[2016-05-10 13:23] kba opened #8 "Support validation"
ALTO is defined in [XML schema](/altoxml/schema), we could use those to add a `ocr-validate` command.

Does a XML Schema for HOCR make sense? Structurally it's certainly not hard but namespaces, doctypes and so on could be trouble.

[2016-05-12 10:30] #8 closed

[2016-05-14 09:52] zuphilip opened #9 "Name, description, link, relation"
* Different names are used `ocr-transform` and `ocr-schemas`. I guess the latter is more general and would fit to the transformations as well as the validations. Should we change the name of this repo?
 * The description of the repo should be adjusted, e.g. `Validate and transform various OCR formats (hOCR, ALTO, PAGE, FineReader)`
 * I suggest to also add the link to our online interface. Okay?

[2016-05-14 10:22] zuphilip opened #11 "Fix Travis error"

[2016-05-14 10:41] zuphilip opened #12 "TEI support?"
Question from the workshop: Can we also add transformation to/from TEI?

My first impression was that the TEI format is normally used in different applications. But I learned that it is also possible to add x-y-coordinates of boxes in TEI. I haven't look deeper whether this is a suitable feature request...

I found a ALTO2TEI XSLT here: https://github.com/collex/typewright/blob/master/lib/saxon/Al

[2016-05-14 10:57] zuphilip opened #15 "Abby2Alto"
https://github.com/ironymark/AbbyyToAlto, Transformation with php, GPL v3

[2016-05-14 11:34] zuphilip commented on #12
Also http://able.myspecies.info/abbyy-xml-tei-xml (looks a little special at first glance...)

[2016-05-14 11:36] zuphilip opened #16 "Abbyy Finereader Schema v6"
http://www.abbyy.com/FineReader_xml/FineReader6-schema-v1.xml
= http://fr7.abbyy.com/FineReader_xml/FineReader6-schema-v1.xml

[2016-05-14 11:40] stweil commented on #11
This is fixed by PR #14.

[2016-05-14 16:57] #11 closed

[2016-05-14 17:03] #16 closed

[2016-05-14 17:05] kba commented on #15
Yes, I've seen it but I very much prefer a declarative transformation in XSLT that has no possible side effects and is easier to test. Maybe we can convert it to XSLT?

[2016-05-14 17:07] kba commented on #12
TEI is quite a big standard, lots of different flavors, so there are probably a lot of ways to implement it.

[2016-05-14 17:11] stweil commented on #12
It depends on what you want to achieve. If the primary goal is the transformation from TEI to ALTO for use in the DFG viewer, that reduces the complexity a lot because much data can simply be ignored.

[2016-05-14 17:46] zuphilip commented on #12
We don't have any use case for this at the moment. Maybe, we can just leave the issue open here and collect more information and any possible implementations by reusing some code. BTW I don't think that the technical implementation would be difficult, but reading and understanding format descriptions as well as testing with good examples.

There are a lot of transformation tools for TEI here: http

[2016-05-14 17:50] zuphilip commented on #15
Yes, it would be preferable to use a XSLT for the transformation.

[2016-05-15 08:57] kba commented on #12
Yes, let's keep this open and target the Dfg viewer, that seems feasible.

[2016-05-16 16:57] kba commented on #9
I think `ocr-transform` is too narrow, that's why I changed it in my fork. But I didn't change it in the Makefile and other places so as not to break existing (un-)installation. `ocr-schemas` is possibly also too narrow. Maybe `ocr-formats` or `ocr-fileformat`?

Done, also for the README.

Fine with me, I tried to prevent any kind of shell script injections by making the PHP script only communicat

[2016-05-16 17:08] kba opened #18 "Fork me on github ribbon"

[2016-05-16 17:24] kba commented on #12
Here's another ALTO to TEI XSL: https://github.com/emory-libraries/readux/blob/master/readux/books/ocr_to_teifacsimile.xsl

[2016-05-16 17:29] zuphilip commented on #18
Does this looks nice also when changing the size of the window? I tried this also out before committing such a link just in the help https://github.com/UB-Mannheim/ocr-transform/commit/143159a86184bb3a172f2316fe96ff6fa6d88ed3

[2016-05-16 17:35] kba commented on #18
I tweaked it to hide the ribbon for smaller/mobile devices. Or do you think it looks bad for large devices? That can be adapted with [Bootstrap's helper classes](http://getbootstrap.com/css/#responsive-utilities).

[2016-05-16 17:36] kba commented on #18
https://github.com/UB-Mannheim/ocr-transform/commit/143159a86184bb3a172f2316fe96ff6fa6d88ed3 :+1: for a textual link anyway.

[2016-05-16 17:50] zuphilip commented on #18
It looked critical on smaller window sizes. Thus, I guess that hiding the ribbon for smaller/mobile devices solves this problem. Fine, for me me now.

[2016-05-16 18:04] #18 closed

[2016-05-18 20:07] cneud commented on #12
See also this service which can convert various formats including ALTO to TEI: https://github.com/INL/OpenConvert

[2016-05-22 08:20] zuphilip opened #21 "Transform ALTO v2 to v3"
We can provide a transformation from ALTO v2 to v3, see https://github.com/altoxml/documentation/issues/1

[2016-05-30 15:16] #9 closed

[2016-06-13 20:17] kba commented on #12
Of interest: https://github.com/TEIC/Hackathon/blob/master/DH2015/xsl/hocr2tei.xsl

[2016-07-15 13:03] zuphilip commented on #6
Ping @kba . Here are two examples of ALTO files with hyphenations (just search for `HYP` node):
* official example from the ALTO community: http://chroniclingamerica.loc.gov/lccn/sn86069133/1910-10-31/ed-1/seq-1/ocr.xml
* one of our examples: http://digi.bib.uni-mannheim.de/fileadmin/digi/417576986/alto/417576986_0078.xml

It looks that `CONTENT` is empty in our `HYP` tags, i.e. we may have to do

[2016-07-19 07:21] kba commented on #21
The simple namespace change XSLT has been integrated.

[2016-07-19 07:21] #21 closed

[2016-07-19 09:51] kba commented on #6
Here's a small change to the alto2hocr.xsl script that should accomplish this: https://github.com/kba/hOCR-to-ALTO/commit/f447acea8cc90f8085e031d058626968475f4a0a

[2016-07-31 12:59] dinosauria123 opened #22 "Convert Google Cloud Vision OCR output to hocr."
I have a question.

I try to use Google Cloud Vision API to OCR.

https://cloud.google.com/vision/

The output of the OCR results including the position of the texts.

I want to convert Google OCR output to hocr format, do you have any ideas ?

I already talked this subject here. Please check our previous discussions.

https://github.com/tmbdev/hocr-tools/issues/26

[2016-08-05 21:56] kba commented on #22
Hi, interesting use case but a tough problem.

As far as I can see, Google Cloud Vision detects the print space and individual words but not lines.

We can derive the lines from the word coordinates with some assumptions:

a) All annotations whose coordinates fit into another `boundingPoly` are part of that page
b) All words that share the same `y` for top-left and top-right corner form a line

Bu

[2016-08-06 04:54] stweil commented on #22
GCV outputs the text twice: First for a block of text. I think we have to ignore that part. Second for the single words. This is the information we need for hOCR.

As we are looking for words on the same (horizontal) line, we have to find words with similar lower corners. The top corners determine the size of the characters, but are not needed for the line detection. Similar lower corners means th

[2016-08-06 06:24] zuphilip commented on #22
IMO these outlined technical approaches would not be just *transformations* of different file formats but one would have to do also a *layout analysis*. I tried a multi-column image and the recognized words are just ordered from top-to-bottom and from left-to-right. However, as said before for some well-defined document classes (e.g. one column, not skewed, ...) the transformations might be doable

[2016-08-06 09:20] dinosauria123 commented on #22
Thank you for the replays.

I try to make extract the words and coordinates from Google Cloud Vision output (test.jpg.json.txt).

I am not good for coding and this program (test2.c.txt) is so primitive.
I applicate any helps.

Comparing Tesseract hocr output (out.hocr.txt), It need to add many headers,  but I think this line is the most important.

`<span` class='ocrx_word' id='word_1_1' title='bb

[2016-08-22 23:01] dinosauria123 commented on #22
I made gcv2hocr at github.
https://github.com/dinosauria123/gcv2hocr

gcv2hocr converts from Google Cloud Vision OCR output to hocr to make a searchable pdf.
The code is far from complete, but it seems to work my sample file.

Thank you for valuable conversations !

[2016-09-06 15:52] kba opened #25 "PAGE in Transkribus"
https://github.com/Transkribus/TranskribusPageformat/blob/master/pagecontent_extension.xsd

[2016-09-08 07:58] FoxKyong opened #26 "Conversion to ALTO-2.0 is invalid"
I tried conversion from hOCR to ALTO-2.0 and after that when I tried ocr-validate on that file I got:

[code]

I also tried to convert it to other versions of ALTO but that all failed but it was just for testing because I need version 2.0.

[2016-09-08 08:05] stweil commented on #26
Which hOCR did you use for that test? Could you please add it here to allow reproducing the problem?

[2016-09-08 08:16] FoxKyong commented on #26
I have attached the file. But the same problem is caused by every hOCR I tried to convert. hOCR is created by Tesseract v3.04.01.
[060.hocr.zip](https://github.com/UB-Mannheim/ocr-fileformat/files/461130/060.hocr.zip)

[2016-09-08 08:29] kba commented on #26
Thanks for trying @FoxKyong and for asking for ALTO support in tesseract.

Problem is in https://github.com/kba/hOCR-to-ALTO/, I'll look into it.

[2016-09-11 02:31] kba commented on #26
The problem was with mapping language. Should be fixed in https://github.com/kba/hOCR-to-ALTO/issues/1. Can you try

[code]

and try the transformation/validation again?

[2016-09-12 07:48] FoxKyong commented on #26
I have tried it and it works. Thanks.

[2016-09-12 08:42] zuphilip opened #29 "Release v0.2.0?"
I think we should create a new release. I started to draft one in GitHub, see https://github.com/UB-Mannheim/ocr-fileformat/releases . However, I am not sure, what has to been done with the release option in the [Makefile](https://github.com/UB-Mannheim/ocr-fileformat/blob/master/Makefile). Is it enough to increase the version counter? Do you agree that we are now at `v0.2.0`?

[2016-09-12 09:55] stweil commented on #29
@zuphilip, before releasing we should review our license. Is MIT compatible with CC-BY-SA?

[2016-09-12 11:04] zuphilip commented on #29
I think it is okay, because everything here in the repo can be licensed under MIT and the XSD files are copied during the make process. But maybe we should clarify that more in the README?

[2016-09-12 15:35] kba commented on #29
* [ ] Merge https://github.com/UB-Mannheim/ocr-fileformat/tree/to-text
* [ ] Merge https://github.com/UB-Mannheim/ocr-fileformat/tree/gcv (kinda blocked by   dinosauria123/gcv2hocr#3)
* [ ] Revise and merge https://github.com/UB-Mannheim/ocr-fileformat/tree/better-testing (since that would be helpful indeed).

[2016-09-12 15:56] zuphilip commented on #29
These are good ways to continue, but we can IMO also create a new release before finishing these new features. There are already quite some changes since `v0.1.0`, don't you think? See https://github.com/UB-Mannheim/ocr-fileformat/releases/tag/untagged-7d39472a88449d704f13

[2016-09-12 17:09] kba commented on #29
Yes, good point, I forgot the whole "code cleanup and backend rewrite" part. We can release that now and maybe schedule the outstanding merges in another issue.

[2016-09-12 18:29] zuphilip opened #30 "Roadmap for v0.2.1, v02.2. etc. (cont'd)"
Copied from https://github.com/UB-Mannheim/ocr-fileformat/issues/29#issuecomment-246387868 by @kba:
- [x] Merge https://github.com/UB-Mannheim/ocr-fileformat/tree/to-text
- [x] Merge https://github.com/UB-Mannheim/ocr-fileformat/tree/gcv (kinda blocked by   dinosauria123/gcv2hocr#3)
- [ ] Revise and merge https://github.com/UB-Mannheim/ocr-fileformat/tree/better-testing (since that would be helpfu

[2016-09-12 18:57] zuphilip opened #32 "Activate automatic docker builds"
I suggest that we just do this, or is there any reason to wait?

[2016-09-12 19:00] zuphilip commented on #29
Okay, I moved the points from above to a new issue and just prepared a new release. Please look at the PR which should then close this issue here.

[2016-09-12 19:02] kba commented on #32
They are active but builds have been failing for a while (e.g. https://hub.docker.com/r/kbai/ocr-fileformat/builds/bu4tmu33knd353zrgpugmwl/) because of an issue with alpine's unzip. Will look into it.

[2016-09-12 19:16] zuphilip commented on #32
I would also suggest to move them to https://hub.docker.com/r/ubma/ocr-fileformat/, i.e. activated them here at [UB-Mannheim/ocr-fileformat](https://github.com/UB-Mannheim/ocr-fileformat/).

[2016-09-12 23:51] kba commented on #32
Active.

[2016-09-12 23:51] #32 closed

[2016-09-12 23:52] #26 closed

[2016-09-13 12:24] kba commented on #29
@stweil reCC-BY-SA / MIT: Combining licenses is always confusing. We could try to get in touch with @filak to ask for licensing terms better suited for software. There's also the [ocr-xsl](https://github.com/kba/ocr-xsl) project that I started to write something from scratch but have no time for at the moment.

But I think we're being honest and clear in the README about software we bundle and wha

[2016-09-13 13:06] filak commented on #29
OK, what do you suggest? I can use another license (public domain CC0?) and make a new commit. But if you just leave the licensing lines in the files then you shall be fine so far.

[2016-09-13 14:00] kba commented on #29
Hi Filip, thanks for answering! The problem is not attribution but that a stylesheet is software not a creative work, so Creative Commons is not a good fit in general. CC0 is possible for software as well but IMHO you can't go wrong with MIT, it's a permissive widely-used license, attribution because the license notice must be reproduced and it's legally uncomplicated to extend/build on top of MIT

[2016-09-13 14:11] filak commented on #29
How about the Apache License 2.0 ? Would it be ok with you?

[2016-09-13 14:11] kba commented on #29
@zuphilip

This creates archives `ocr-fileformat_VERSION.tar.gz` and ``ocr-fileformat_VERSION.zip` that contain all the tools. I've added those to the release page.

[2016-09-13 14:20] kba commented on #29
@filak In principle I have nothing against Apache License, it's broadly the same as MIT but with lots of additional safeguards regarding trademarks, patents, requiring users to state changes made etc. A bit overkill for a small project but still a good choice.

[2016-09-13 14:36] filak commented on #29
Nevermind, I have just done it with the MIT: https://github.com/filak/hOCR-to-ALTO/commit/80ae1f9f2a0d1d5d54450b1f6592c5a82ee8561d

[2016-09-13 16:40] #29 closed

[2016-09-13 19:09] zuphilip commented on #30
"to-text" was merged in https://github.com/UB-Mannheim/ocr-fileformat/commit/db1da009785a870e01a73889e89742db3b299db5 which is already part of `v0.2.0`

[2016-09-18 16:32] zuphilip opened #36 "Update http://digi.bib.uni-mannheim.de/ocr-fileformat/ to v0.2.0"
Maybe also some other dependencies, because at the moment the to text transformation are missing there.

[2016-10-22 19:28] #36 closed

[2016-10-22 19:34] zuphilip opened #37 "Support DjVu format?"
I don't know if this makes sense, but I heard that DjVu can also save hidden text and there exists https://github.com/jwilk/ocrodjvu as with some files like `djvu2hocr` and `hocr2djvused` and also transfromation from and to pdf: https://wiki.ubuntuusers.de/pdf2djvu/ , https://wiki.ubuntuusers.de/djvu2pdf/ . Is DjVu an ocr-fileformat which is interesting in the context here?

[2016-10-23 00:01] kba commented on #37
@jwilk has done a lot of work on OCR with DjVu in digitization in Poland IIUC. Not sure how widely DjVu is used, it's certainly an interesting and fitting format for OCR. Integration would not be a huge effort but I hesitate to do it without a use case and test data, since creating a presentation-level container format is more involved and subjective than converting between XML representations.

I

[2016-10-27 14:38] jmokoistinen opened #38 "hocr to alto not working"
Any ideas what i am missing?

[code]

[2016-10-27 15:08] kba commented on #38
You need to download the scripts and helpers for transformation/validation. In the root folder of the repo either run `sudo make install` to download assets and install to `/usr/local` (so the scripts will be available as `ocr-validate` and `ocr-transform` or run `make vendor` to only download the assets without installation.

[2016-11-11 08:40] #38 closed

[2017-01-26 07:49] zuphilip opened #39 "ABBYY XML schema 404 error"
Currently the ABBYY XML schema files return a 404 and this will break our validation of these files (and the Travis check). It seems that there was some redirection (which is now also vanished):

* Original url: https://www.abbyy.com/FineReader_xml/FineReader8-schema-v2.xml
* Redirection from there in 2016/03: https://web-beta.archive.org/web/20160322130346/https://www.abbyy.com/FineReader_xml/Fin

[2017-01-28 20:50] zuphilip opened #42 "Check whether we can switch to official hOCR-to-ALTO fork"
Currently, we are using our [own fork](https://github.com/kba/hOCR-to-ALTO) for the hOCR-to-ALTO, but the differences could be now already integrated in the [official fork](https://github.com/filak/hOCR-to-ALTO). Can we switch here to the official fork now?

[2017-01-28 21:14] zuphilip opened #44 "Web Frontend in Docker does not work"
When building the Docker image and running the web frontend, the transformation and validation scripts are not found:

[code]

It seems that location of the two scripts is coded in [web/config.php](https://github.com/UB-Mannheim/ocr-fileformat/blob/master/web/config.php).

I am not exactly sure how to change these lines and whether they effect anything else, or how they are needed in the other ins

[2017-01-29 12:06] kba commented on #42
Yes, @filak merged our changes, can be switched to upstream repo.

[2017-01-29 12:31] #39 closed

[2017-02-04 14:37] #44 closed

[2017-02-04 14:56] zuphilip opened #46 "Error in Travis build"
Travis test are passing but there seems to be an error in the end, cf https://travis-ci.org/UB-Mannheim/ocr-fileformat/builds/198333152:
[code]

[2017-02-12 12:31] zuphilip commented on #46
Okay, it seems that this file `codes_lookup.xml` is part of the new version of hocr-to-ALTO see https://github.com/filak/hOCR-to-ALTO/commit/b24e8a23e19070d8b294368a73899a29feef4a1c . Maybe we can just link it there as well...

[2017-02-12 13:58] zuphilip commented on #46
Closed by https://github.com/UB-Mannheim/ocr-fileformat/pull/48

[2017-02-12 13:58] #46 closed

[2017-02-12 15:35] zuphilip commented on #42
Done with https://github.com/UB-Mannheim/ocr-fileformat/commit/2f3824d36eb9d59c3fd8e7cc55872e3cf8e2ab4a

[2017-02-12 15:35] #42 closed

[2017-02-12 15:40] zuphilip opened #49 "Wrong transformation, validation choices"
As a result of https://github.com/UB-Mannheim/ocr-fileformat/pull/48 a new (wrong) option for transformation was found:

![ocr-transforms-codes](https://cloud.githubusercontent.com/assets/5199995/22862540/eebab712-f130-11e6-9177-4c48bb3a41ee.png)

The relevant lines which should exclude that can be found in [`lib.sh`](https://github.com/UB-Mannheim/ocr-fileformat/blob/master/lib.sh#L49-L52).

Howe

[2017-02-12 16:41] zuphilip opened #50 "Update hocr validation info"
We are now using `hocr-spec-python` https://github.com/kba/hocr-spec-python for validating hocr-files. This information seems to be missing on several places:
* [x] Python2 needs to be installed in the Dockerfile
* [x] Add line in license section https://github.com/UB-Mannheim/ocr-fileformat#license
* Anywhere else?

[2017-02-12 16:48] zuphilip opened #51 "Enabling https in PHP in docker"
It seems that currently URL with "https" are not working when using the Dockerfile, e.g.
[code]
(Maybe also document it in installation notes.)

[2017-02-12 17:54] zuphilip commented on #51
http://stackoverflow.com/questions/12946486/openssl-not-working-with-php-built-in-webserver

[2017-02-25 10:32] kba commented on #51
Running the PHP builtin server is not optimal anyway, it was just convenient. Probably would be best to setup an nginx or apache to serve the PHP.

[2017-02-25 11:31] #49 closed

[2017-02-28 06:44] #50 closed

[2017-02-28 07:03] zuphilip opened #54 "Various (simple) Transformations"
We can check out https://github.com/cneud/ocr-conversion-scripts but have to be careful about the attributions and licenses.

[2017-02-28 07:06] zuphilip commented on #51
For testing/developing purposes the PHP builtin server mostly works, but it might be more stable to switch to another webserver like you suggested.

[2017-04-07 08:15] amitdo commented on #22
There now support a new output format with much more details. This should make transformation to hOCR easier.

https://cloud.google.com/vision/docs/fulltext-annotations
https://cloud.google.com/vision/docs/reference/rest/v1/images/annotate
https://cloud.google.com/vision/docs/detecting-fulltext
https://developers.google.com/resources/api-libraries/documentation/vision/v1/python/latest/vision_v1.im

[2017-07-12 18:43] jbaiter opened #56 "Cannot convert hOCR with xhtml namespace to ALTOL 2.1"
[code]

hOCR:
[code]

When I suppress the namespace check, the resulting ALTO file does not contain any elements besides the root `<alto>` with the OCR text in plaintext without any structuring elements.

[2017-07-13 10:33] JKamlah commented on #56
Hello JBaiter,
it sounds like the namespaces are declared but the other XHTML elements are inheriting the namespace, because they do not have the XHTML namespace explicitly declared. It would be perfect if you could upload an example file, that i can confirm my theory. What program did you use to create the sourcefile?

[2017-07-13 13:18] jbaiter commented on #56
The file comes from a partner's custom OCR engine. Unfortunately I don't think I'm allowed to share a sample file, but here's a small excerpt that should suffice to confirm your theory, the elements indeed don't explicitely state the namespace but inherit it from the root element:

[code]

[2017-07-13 13:50] kba commented on #56
The XSLT scripts use local-name only, non-namespaced, c.f. https://github.com/filak/hOCR-to-ALTO/blob/master/hocr2alto2.1.xsl. I think I ran into this before https://github.com/filak/hOCR-to-ALTO/commit/9f8026cd2b61bd842aa40dff5598f2d0bbd19b07 .

[2017-07-29 08:42] stweil opened #57 "Add support for pdf2xml format"
The program `pdftohtml` (part of Debian package `poppler-utils`) can extract images and text from PDF files and write an XML file with the extracted information.

Libraries like [pdftabextract](https://github.com/WZBSocialScienceCenter/pdftabextract) use that XML file for further processing.

By transforming ALTO or hOCR XML directly to the `pdf2xml` XML format, the time consuming intermediate PDF

[2017-07-31 08:04] JKamlah commented on #56
Sorry for the late response. I am still trying to fix the problem. Your code snippets runs without any problems on my local machine but not on the server. And it seems that i have another parsing issue.
For now i encourage you to update the program and and give it another try.

[2017-09-08 14:15] stweil opened #58 "Microsoft Computer Vision API"
Microsoft offers OCR services in the Office Products and online, see https://azure.microsoft.com/en-us/services/cognitive-services/computer-vision/. The online service supports text or JSON output. If needed, we could add support for the JSON format which looks quite simple.

[2017-11-29 13:04] kba opened #59 "Web Annotations from ALTO"
https://github.com/glenrobson/iiif_stuff/tree/master/alto2annotations

[2017-11-29 13:20] stweil commented on #59
It would be good to have a license statement from @glenrobson if we want to use that XSLT.

[2017-12-09 13:54] stweil opened #60 "Bad results in web interface and download not possible"
The web interface (for example https://digi.bib.uni-mannheim.de/ocr-fileformat/) shows damaged results when converting from hOCR to ALTO2.0 or ALTO2.1:

    <?xml version="1.0" encoding="utf-8"?>
    <alto xmlns="http://www.loc.gov/standards˺lto/ns-v2#"
          xmlns:xlink="http://www.w3.org�/xlink"
          xmlns:xsi="http://www.w3.org�/XMLSchema-instance"
          xsi:schemaLocation="http://

[2017-12-09 13:59] stweil opened #61 "Web interface does not allow correcting the input format for transformations"
As soon as the user has chosen an input format, the web interface only allows selection of supported output formats. If the user chooses a different input format, the list of selectable output formats is not updated.

[2017-12-09 14:18] stweil opened #63 "Improve privacy of web interface by reducing third party contents"
Currently the web interface loads some third party contents. Maybe we can provide some of that locally.

[2017-12-09 15:20] zuphilip commented on #60
The encoding problem is also shown in the screenshot which was created a year ago and the Dockerfile was using PHP 7.0 from the beginning.

---

I only have found this code for the button, which will not save the original file if from url rather than the transformed one: https://github.com/UB-Mannheim/ocr-fileformat/blob/5ec0dd4f388fd3454489a627884d57062eb49447/web/ocr-fileformat.js#L86-L96.

[2017-12-09 18:37] zuphilip opened #65 "Download button"
(Splitted from #60)

## Current Behaviour

After uploading a local file and transform it, the download button does nothing.

After choosing an url of a file and transform it, the download button will simply provide a link to that url, which is the input file.

## Goal

The goal should be to download the output file. I guess that the button is currently more like a placeholder and the logic behind

[2017-12-10 10:50] #60 closed

[2017-12-10 10:52] #61 closed

[2017-12-10 20:56] zuphilip commented on #30
The remaining open task here can be continued in #41.

[2017-12-10 20:56] #30 closed

[2017-12-10 21:04] #22 closed

[2017-12-10 23:40] kba commented on #63
The method du jour is to structure code as a module, rely on Node.JS for managing included libraries and bundle for distribution with webpack/browserify/parcel.

[2017-12-11 08:25] stweil commented on #65
Pull request #70 partially implemented the desired functionality. The following use case still does not work for me:

- Go to https://digi.bib.uni-mannheim.de/ocr-fileformat/
- Enter URL https://digi.bib.uni-mannheim.de/~stweil/ocr-praxis/0001-tesseract.hocr
- Transform from `hocr` to `alto2.0`
- Press 'Download' button

Expected behavior: download of result (ALTO XML)
Observed behavior: download

[2017-12-11 08:36] zuphilip commented on #65
Yes, that is the else case in https://github.com/UB-Mannheim/ocr-fileformat/blob/b85360e094682b0d88953564c807fcbd5dcf668b/web/ocr-fileformat.js#L103-L105 . I agree that we don't need this and should just always do what is in the if case.

[2017-12-11 08:45] kba commented on #65
Yup, and change the basename replacement. I'll send a PR.

[2017-12-11 09:53] kba commented on #65
Also needs to make use of Blob/createObjectURL/revokeObjectURL since src attribute will become too large quickly.

[2017-12-11 11:31] kba opened #74 "https broken in docker"
E.g. using the URLs introduced in https://github.com/UB-Mannheim/ocr-fileformat/commit/328069d3b558f0157c26fa4e8526eece85f813d6 will not work in docker.

[2017-12-11 11:59] #74 closed

[2017-12-11 13:08] zuphilip opened #76 "Show version number in web-interface"
From #72

[2017-12-22 08:28] jbarth-ubhd opened #78 "ALTO output from Abbyy11r8 contains <SP> between <String>"
Perhaps this is not an error.
Kind regards,
J. Barth

[2017-12-22 08:57] kba commented on #78
Can you provide sample data and how you ran the tool?

[2017-12-22 09:03] zuphilip commented on #78
I guess you output the ALTO files directly from ABBYY, because we don't yet provide a transormation from ABBYY to ALTO. Then this should be an example: https://digi.bib.uni-mannheim.de/~stweil/ocr-praxis/Testseiten/alto/417576986_0031.xml

The `<SP>` stands AFAIK for space and it should validate in this form.

[2017-12-22 09:05] jbarth-ubhd commented on #78
Yes, I'll try to find out if <SP> (=space) is really necessary between <String>s in ALTO.

[2017-12-22 09:19] zuphilip commented on #78
I guess that it still validates without the SP tags. Moreover, most of the information (HPOS, WIDTH) can be calculated from the line above and below, but if the width of a space is important for some application, then it might be easier to have this data directly. I don't know what the VPOS information for a space says or whether it is also determined by some other values.

[2017-12-22 10:24] jbarth-ubhd commented on #78
On ALTO 2.1 .xsd it looks like this:

[code]

So strictly speaking it seems that \<SP\> is not necessary, but the \<sequence\> seems to imply it.

[2017-12-22 10:44] zuphilip commented on #78
Not sure. I only see here, that, if `<SP>` occurs, then it has to occur after a `<String>`.

[2018-03-05 15:02] stweil opened #79 "Support conversion from and to PAGE XML"
This will be required for the OCR-D workflow. Note that OCR-D plans to extend the current PAGE XML standard.

[2018-03-05 20:06] zuphilip commented on #79
1) Can you organize some examples of PAGE XML files which we can use as good test cases and freely share e.g. in https://github.com/kba/ocr-fileformat-samples ?

2) We can start with simple conversions as PAGE XML to text, cf. https://github.com/cneud/page-to-text/blob/master/page_to_text.py by @cneud , but I would prefer a XSLT solution for this.

3) Any free mapping information from or to PAGE X

[2018-04-24 22:59] zuphilip opened #81 "Support ALTO 4.0"
The new version ALTO 4.0 was recently released: https://github.com/altoxml/documentation/wiki/v4.0-Changes and any support here would be great. The validation with the XSD http://www.loc.gov/standards/alto/v4/alto-4-0.xsd should be straight forward to do. CC @cneud

[2018-04-24 23:14] cneud commented on #81
Super quick reaction...but maybe too quick 😄
It seems there has been a little bit of confusion with both https://www.loc.gov/standards/alto/v4/alto.xsd and https://github.com/altoxml/schema/blob/master/v4/alto-4-0.xsd still containing the "draft" remark and wrong release date in the header section. Will clarify and rectify with the board members asap!

[2018-04-25 06:40] kba commented on #81
Validation will be up-to-date with the upstream ALTO schema repo if you build from source.

I can prepare a new release with tarball including ALTO 4 xsd once it's ready for distribution.

[2018-10-20 17:21] stweil opened #85 "No text from OCRopy hOCR"
The following hOCR was created using OCRopy. `ocr-transform` finds no text for conversion to text or alto2.0.

    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    <title>OCR Results</title

[2018-10-21 08:47] zuphilip commented on #85
There are no child elements for `ocr_line` except the textnode itself. This is different to the output of Tesseract, where https://github.com/filak/hOCR-to-ALTO is specialized. However, it might be enough to change:

[code]

in https://github.com/filak/hOCR-to-ALTO/blob/f05740cb71a162587027936934d4c6a16a2898df/hocr2text.xsl#L36 . Or possibly some more changes then. Anyway, it has to fixed in the u

[2018-10-26 18:15] zuphilip commented on #85
This was fixed in the upstream repo. @stweil Can you check that this fix solves the issue?

(Then, we might just need to trigger a new Docker build to fix this here.)

[2018-10-27 13:51] stweil commented on #85
The conversions from hOCR to Alto still need a similar fix. Maybe I can test that later and send a pull request.

[2018-11-22 21:50] stweil commented on #78
The [ALTO documentation](https://www.loc.gov/standards/alto/techcenter/layout.html) says "A TextBlock is divided into lines and those are divided into strings, spaces and hyphens". I don't interpret that as a strict requirement that spaces are required, and nor does the .xsd. It's clear that spaces are required if the strings are given without `HPOS` and `WIDTH` attributes, but I think it is redun

[2018-11-23 10:40] amitdo commented on #78
The ALTO spec itself needs to clarify this issue.

[2018-11-23 11:51] stweil commented on #78
Clemens has created an issue for that: https://github.com/altoxml/schema/issues/54 (thank you).

[2018-11-23 11:57] cneud commented on #78
Thanks for flagging this, I will put it on the agenda for our next ALTO board call which will be held November 29th.

[2018-11-24 19:50] mittagessen commented on #78
To chip in, I've interpreted the standard that the `<SP><String>` alternation is mandatory and that whitespace should never occur inside a `<String>` and this is how I implemented it.

[2018-11-24 20:17] stweil commented on #78
If a `<String>` never contains whitespace, then `<SP>` is completely redundant. Does ALTO allow overlapping words in a row? If yes, does that require a separating space with negative width? :-)

[2018-11-24 20:39] mittagessen commented on #78
Why? Whitespace is a character like any other and personally I would've taken the decision to encode it explicitly using `<String>` if the standard wouldn't heavily imply that you shouldn't do that. Of course, you can throw away the data and let people compute inter-word spacing implicitly provided through word bounding boxes but it isn't like tesseract, kraken or any other sequence classification

[2018-11-24 21:06] stweil commented on #78
Then how would you encode two overlapping words if you are forced to put a `<SP>` between them?

[2018-11-24 23:12] mittagessen commented on #78
Just have overlapping bounding boxes? Presumably there is still a reading order that determines the ordering of the `<String>` tags. But yeah it helps that I decided a long time ago that words are a waaay to squishy concept and arbitrarily defined anything bounded by whitespace is a separate word/segment for serialization purposes (not only for ALTO). Of course, I you want to encode a proper token

[2018-12-13 16:00] cneud commented on #78
Just to follow up - I'm afraid a quick resolve is not really around the corner...the issue was discussed in the last ALTO board call, with the core elements of the discussion summarized [here](https://github.com/altoxml/schema/issues/54).

While the general feeling was that the use of `<SP>` is not mandatory, some more research into ALTO's history is required to determine the original authors exac

[2018-12-13 16:16] mittagessen commented on #78
As a note, most of the character-based classification systems common at the time ALTO was originally specified didn't treat whitespace as a proper glyph, i.e. whitespace is just something bordered by other glyphs and is never seen by the classifier as such. This at least explains the existence of a separate `<SP>` tag.

[2018-12-13 16:30] stweil commented on #78
Thank you, @cneud, @mittagessen and the ALTO board.

As the current DFG viewer expects the `<SP>` tags, I think that programs like `ocr-transform` should produce them, too. Pull request https://github.com/tesseract-ocr/tesseract/pull/2117 adds the tags to Tesseract's new ALTO output, so that output is now compatible with the DFG viewer.

[2019-03-06 22:14] zuphilip commented on #79
de1f2bb3d1ff04c719c6e084fe3c85450608f4c4 introduced a PAGE to hocr support.

[2019-04-25 17:06] TuulaP opened #87 "Show version info in command line"
In order to add the software versions in use to the documentation of a project, it would be nice if e.g. the usage help of ocr-transform would also show the version information of the software itself.

(I'll keep searching if I can find it somewhere hidden).  Thank you!

[2019-06-17 15:14] kba commented on #12
PAGE2TEI https://github.com/dariok/page2tei

[2019-06-17 18:39] zuphilip commented on #12
Thank you @kba, that looks interesting as well! Let me know when anyone wants to work on integrating any of these transformation in `ocr-fileformat`.

[2019-08-29 08:12] jtlz2 opened #88 "installation problem under macOS 10.13.6"
Thanks for the great tool.

Right now when I run `sudo make install` I get the following output:

[code]

The Docker image runs fine however.

What am I doing wrong?

Thanks again

[2019-08-29 08:45] jtlz2 commented on #88
As per https://unix.stackexchange.com/a/401928/307622, this is a problem with BSD. The solution was to replace `sed` in the makefile with `sed -i`.

Sorry to bother you - thanks again

[2019-08-29 08:46] jtlz2 commented on #88
My `sed -i` trick didn't work in fact

[2019-08-29 08:51] jtlz2 commented on #88
I fixed this by installing GNU sed a la https://stackoverflow.com/a/30047931/1021819 - rather than using macOS's BSD flavour:

`brew install gsed`

Then changing the makefile `sed` -> `gsed`.

`sudo make install` then completes without error.

[2019-08-29 08:51] #88 closed

[2019-08-29 09:26] zuphilip commented on #65
It seems that #73 fixed this.

However, the behavior on digi is still different. @stweil Can you check that we have the latest version running?

[2019-08-29 09:31] zuphilip commented on #81
Would now be a good point to make a new release including ALTO 4.0?

[2019-08-29 09:36] jtlz2 commented on #88
I have also had to update the macOS default bash shell to make the scripts execute... (v3 -> v>=4):

See https://apple.stackexchange.com/a/292760/310129

Then hack ocr-validate, ocr-transform and lib.sh to point to `/usr/bin/env bash` rather than `/bin/bash`

[2019-08-29 09:40] jtlz2 commented on #88
Final hack:

brew install coreutils

Then change `readlink` to `greadlink` in ocr-validate

[2019-08-29 09:44] kba commented on #88
Thanks for investigating. We do rely on bash >= 4 and coreutils. It wouldn't be too hard to adapt the installation to account for the slight differences between BSD/Mac OS and coreutils but I don't have an OSX machine to test it with.

[2019-08-29 11:31] jmechnich commented on #88
From `brew info coreutils`:

This fixes sed, readlink, etc.

[2019-08-29 12:50] kba commented on #88
Thanks. @jmechnich @jtlz2 If you want to document that in the README, I'd be happy to merge a PR.

[2019-08-29 14:50] stweil commented on #65
We do now. Before that, a two years old version was running.

[2019-08-29 16:21] cneud commented on #81
From an ALTO point of view, the [release 4.1](https://github.com/altoxml/documentation/wiki/Versions) fixed a few bugs with v4.0 and can be considered fairly stable.

[2019-08-30 11:36] jtlz2 opened #89 "Problem converting alto output from ABBYY to hocr"
I am targeting hocr and trying to do so from the ABBYY latest form of alto. The header for the latter is

[code]

But when I run

`ocr-transform alto2.0 hocr in.alto out.hocr`

I only get a header and no content:

[code]

@zuphilip Any ideas on how to proceed?

Thanks!

[2019-08-30 19:04] zuphilip commented on #89
Can you share a complete ALTO file as an example illustrating the problem?

[2019-08-31 10:20] zuphilip commented on #85
The PR https://github.com/filak/hOCR-to-ALTO/pull/12 should handle the hocr2alto transformations as well.

[2019-08-31 13:33] zuphilip commented on #79
There is a simple example PAGE XML file https://github.com/PRImA-Research-Lab/PAGE-XML/blob/master/documentation/example/SimplePage.xml and a more advanced one https://github.com/PRImA-Research-Lab/PAGE-XML/blob/master/pagecontent/examples/aletheiaexamplepage.xml . I created with these two test files a XSLT transformation for PAGE to text, see PR #91.

[2019-09-01 12:54] yanirmr opened #93 "loop of files downloading"
when I'm working with the web application I'm having the next problem:
1. converting the first file and downloading this file - OK
2. converting the second file and downloading this file - twice automatically.
3. converting the third file and downloading this file - thrice automatically.
etc...

the counter of the loop reset when refreshing.
any solution for this bug here would be great.

[2019-09-01 14:06] zuphilip commented on #93
Yes, that is a bug.

You can reload the page (maybe with CTRL+F5) before you convert your next file to work at the moment around this.

The problem seems to be that after each new transformation/validation the `submit` function is called, which will then add a *new* event to this download button https://github.com/UB-Mannheim/ocr-fileformat/blob/f9e0099543db10cbda216b66115d7e4b05671821/web/ocr-fil

[2019-09-01 14:10] yanirmr opened #94 "multi-choice of files in the web interface"
currently, the GUI allows choosing only one file every time.
If you can pick a large set of files at once and then convert them and download them together - that would be great.

thank a lot.

[2019-09-02 07:54] jtlz2 opened #95 "No transformation from alto3.0 (from Tesseract 4.1.0) to hocr"
cf #89

The below alto file is generated from Tesseract 4.1.0 and is described in its header as alto v3.0.

`ocr-validate alto-3-0 alto.xml`

is successful:

[code]

I would like to convert this file to hocr for use with hocr-tools, but ocr-transform throws an error when I try*:

`ocr-transform alto hocr  < alto.xml`

[code]

(I have also tried various combinations of alto3.0/alto-3.0/alto-3-0...)

[2019-09-02 08:18] jtlz2 commented on #89
@zuphilip Many thanks - here you go.

ABBYY FineReader 12
alto 2.0

The docker web UI gives:

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <title>Image: </title>
      <meta http-equiv="Content-Type" content="text/html; ch

[2019-09-02 11:24] zuphilip commented on #89
Okay, the problem with this ALTO file is that it uses `BottomMargin` instead of `PrintSpace`. Try to replace these two lines before the transformation:
[code]
However, if I understand this correct, then ABBYY will always output this as `BottomMargin`. Can you confirm that? This sounds wrong for me... However, it is possible to add this variant to the XSLT transformation upstream.

Yes, there is al

[2019-09-02 11:41] zuphilip commented on #95
After the error message in the usage information you see the available transformations. Currently there are only alto2.0/alto2.1 to hocr transformations. Try to change the namespace of your file
[code]
and then use
[code]
I will create an issue upstream to support also other versions of alto in the transformations.

[2019-09-05 07:10] stweil commented on #12
Now we have a use case. We have 64833 TEI files (like [this one](https://digi.bib.uni-mannheim.de/fileadmin/statjahrb/514402342_1952/tei/00000001.xml)) which have to be converted to ALTO for Kitodo Presentation / DFG Viewer.

[2019-09-05 08:23] jmechnich commented on #88
Is there actually a good reason to use bash for those scripts? Maybe it would make sense to convert them to python as this is another dependency that ocr-fileformat has anyway (and is available on MacOS by default).

[2019-09-05 08:42] jmechnich commented on #12
A first attempt on writing a XSLT can be found [here](https://github.com/jmechnich/ocr-fileformat/blob/tei/xslt/tei__hocr.xsl) but although it produces valid HOCR, the subsequent transformation to ALTO is not successful (most likely due to the lack of ocr_line in the HOCR file). I guess it would be possible to extract the document's line structure from jumps in the top-left coordinate of the words

[2019-09-06 10:28] zuphilip commented on #12
Nice! @jmechnich Can you create a PR? Then it is easier to discuss this further. But I am quite happy with such a XSLT transformation, even when there are no `ocr_line`s (they are AFAIK also missing in your TEI file).

[2019-09-17 20:15] asor12 opened #96 "Converting hOCR to Alto"
Hi, first thanks for making this tool.

I have questions using the GUI to convert hOCR to Alto XML.

My hOCR file looks as follows:
[code]

But the ALTO output from the GUI gives me two xml files, which look like this:

[code]

and
[code]

I've not worked with ALTO formats before, but I'm thinking it shouldn't look like this? Please let me know what you think, any help would be greatly appreciated

[2019-09-17 22:29] jmechnich commented on #96
I had a similar problem recently which was related to missing elements in the hOCR that are expected by the transformations. Unfortunately, a hOCR file passing validation does not seem to guarantee a successful conversion to ALTO (assuming yours validated). You should check https://github.com/filak/hOCR-to-ALTO/blob/master/hocr2alto2.0.xsl.
The missing page dimensions are related to the format of

[2019-09-17 23:46] asor12 commented on #96
Ok, thanks much, that's very helpful - I'll go check out the title attribute then. To make sure I understand, does that mean the transformation expects every "title" as in `<div class='ocr_page' lang='unknown' title='bbox 0 0 1420 2068'>` to be in that longer format you described? I'm pretty new to XSL stylesheets, how would you recommend I fix this?

Yes, for some reason the GUI gives me multiple

[2019-09-18 05:43] zuphilip commented on #96
Most of the content is missing in your ALTO files. It looks as you use a version of the transformation where it still expect `ocr_par` after a `ocr_carea` and before `ocr_line`, which you are missing in your hocr-example and thus it stopped processing then. However, I extended this in the upstream repo https://github.com/filak/hOCR-to-ALTO/commit/30d286d0c7980af70081263c291c5f1a733aeb6c#diff-ef44e

[2019-09-18 06:55] jmechnich commented on #96
Ah! I was wondering about that and completely agree with @zuphilip. That is most likely the reason why the transformation stopped.

With respect to the format of the `title` attribute: it only affects `ocr_page` as for the extraction of the coordinates, multiple subattributes are expected to be encoded in the title with `bbox` being the second one. This is what the function `mf:getBoxPage` does.

[2019-09-18 16:46] asor12 commented on #96
Ok, thanks much. The only xsl stylesheet in the ocr_fileformat tool I find is xslt/alto2.0_alto3.0xsl, which looks very different from yours. I suppose I'll replace this stylesheet with yours and run again, if that sounds like the way to go!

[2019-09-18 17:07] jmechnich commented on #96
This particular transformation is for alto2.0 -> alto3.0. There should be corresponding files like hocr__altoX.xsl with X being 2.0, 2.1, ...
What kind of setup are you using exactly (which OS, docker or manual installation)?

[2019-09-18 17:23] asor12 commented on #96
Ah, I see in the Makefile that it was supposed to download all the xsl stylesheets. I am running on Mac OS, and I ran it as a docker using `docker run --rm -it -p 8080:8080 ubma/ocr-fileformat`. I suppose the docker does not run the Makefile and install the extra stylesheets? Let me know if I installed it wrong.

[2019-09-18 17:46] jmechnich commented on #96
Ok, I just updated the Docker image manually as changes in the external dependencies do not trigger a rebuild. Please try again with the new one (you might have to explicitly delete the old image using `docker image rm [IMAGE ID]`).

[2019-09-18 17:58] asor12 commented on #96
Ok, thanks. I deleted the old image/container and ran `docker run --rm -it -p 8080:8080 ubma/ocr-fileformat` again. I accessed the GUI via localhost:8080 and when I process the hocr file above, it gives me an empty xml file. Did I miss any steps?

[2019-09-18 18:25] jmechnich commented on #96
Well, you found another bug. :)
The patch mentioned by @zuphilip above lacks opening `<xsl:choose>` tags [here](https://github.com/filak/hOCR-to-ALTO/blob/master/hocr2alto2.0.xsl#L112) and [here](https://github.com/filak/hOCR-to-ALTO/blob/master/hocr2alto2.1.xsl#L116).
If you are in a hurry you can modify the file inside the docker container by hand (in `/usr/local/share/ocr-fileformat/xslt/`).

[2019-09-18 18:30] jmechnich commented on #96
This is the result of your hOCR quoted in your first post after the fix:
[code]

[2019-09-18 19:03] zuphilip commented on #96
PR for fixing the bug :bug: upstream is on the way: https://github.com/filak/hOCR-to-ALTO/pull/14

[2019-09-18 19:09] zuphilip commented on #96
@asor12 If you are only interested in a single file transformation you can also use an online XSLT tool like http://xslttest.appspot.com/ and copy your hocr file in the first box and the temporary url https://raw.githubusercontent.com/zuphilip/hOCR-to-ALTO/patch-1/alto2hocr.xsl in the second box, then press run transformation.

[2019-09-18 19:16] asor12 commented on #96
ok thanks much to both you and Jorg! I'll use http://xslttest.appspot.com/ as a quick fix for now. Quick note, I'm transforming from hocr to alto (I think that xsl is for alto to hocr?). I'll wait for the docker image update to process more of our files.

[2019-09-18 19:19] zuphilip commented on #96
(Yes, I updated the link above.)

[2019-09-19 16:58] jmechnich commented on #96
@asor12, it seems like the bug is fixed and the Docker image updated in case you want to try again.

[2019-09-27 19:00] asor12 commented on #96
Hi @jmechnich and @zuphilip thanks for updating! I was traveling last week and just got to test now. Here's a sample output ALTO code - does this look right to you? Does ALTO
 need to be formatted some way, e.g. with newlines, or is this correct? (I haven't worked with ALTO files before, thanks for any guidance)

[code]

[2019-09-28 11:03] zuphilip commented on #96
Did you delete the last part or is this really all?

First of all, it should be a valid XML document, but what you wrote is incomplete (not all tags are closed etc.). The indenting does not matter, also it might be easier to read an XML document if it is "pretty printed".

[2019-09-28 15:40] asor12 commented on #96
Oh I truncated it as the file is really long. Yes, all of the tags should be closed. How would one "pretty print" the XML?

Thanks!

[2019-09-29 05:52] zuphilip commented on #96
You can for example google "pretty print xml" and choose some online tool for it. In general the contents of your file looks fine. You can also validate the ALTO XML with our tool here.

[2019-11-04 09:30] prashantguleria commented on #58
HI is there any way to convert computer vision OCR output to hOCR?

[2019-11-05 07:05] zuphilip commented on #58
Do you have any test data as JSON from Computer Vision OCR you can share here?

[2019-11-05 07:31] prashantguleria commented on #58
![test](https://user-images.githubusercontent.com/10485563/68186225-a26be480-ffc9-11e9-98ff-d6a5c37b6431.jpg)

[ocr_response.txt](https://github.com/UB-Mannheim/ocr-fileformat/files/3807701/ocr_response.txt)

Attached image and it's ocr response.

[2019-11-05 09:11] kba commented on #58
Maybe @dinosauria123 has a take on this, since he's been developing a converter from Google's Cloud Vision API responses at https://github.com/dinosauria123/gcv2hocr

[2019-12-18 08:44] kba opened #99 "page2tsv"
https://github.com/qurator-spk/page2tsv Very specific format but obviously a scalable way to do heavy data processing.

[2019-12-19 13:51] filak commented on #95
ALTO v3 & v4 should be supported now.

[2019-12-19 14:16] filak commented on #89
It seems the TopMargin, LeftMargin, RightMargin and BottomMargin sub-elements under Page element are NOT covered in the transformation, only Page/PrintSpace.

I can add these, should be simple, ie. for BottomMargin :

<xsl:template match="Page">

<xsl:variable name="fname"><xsl:value-of select="//alto/Description/sourceImageInformation/fileName"/></xsl:variable>

...

**<xsl:apply-templates select

[2019-12-19 15:22] filak commented on #89
Well, I have tried and it works for the BottomMargin.

I think TopMargin and BottomMargin might work if converted into ocr_page DIV, but the LeftMargin and RightMargin should go somewhere else (?) - otherwise it would break the page layout.

Shall they be considered float elements ?
http://kba.cloud/hocr-spec/1.2/#sec-float-elements

- if so there is no specs in hOCR AFAIK

[2019-12-29 12:19] stweil commented on #94
Especially for many files drag and drop support would also be helpful.

Conversion of many files would still only return a single download, so for example a zip file with the converted files could be returned.

But maybe a Web API would even be better for handling lots of files.

[2019-12-30 11:11] zuphilip commented on #94
For batch transformations I would suggest to use the command line tools, e.g. something like
[code]
Maybe we could allow multiple files directly as an argument for the CLI scripts.

However, I am skeptical that for larger transformation tasks the Web GUI is suitable or that a Web API is the direction we should go to.

[2019-12-30 11:20] zuphilip commented on #96
Closing this issue because of inactivity. If the problem remains, then feel free to reopen it.

[2019-12-30 11:20] #96 closed

[2019-12-30 12:32] zuphilip commented on #25
Is this extension of the PAGE format still relevant? I see that the latest changes in this [repo](https://github.com/Transkribus/TranskribusPageformat) are from March 2017.

[2019-12-30 12:57] #65 closed

[2019-12-30 13:22] zuphilip commented on #51
Fixed in #75.

[2019-12-30 13:22] #51 closed

[2019-12-30 13:31] #85 closed

[2019-12-30 13:56] zuphilip commented on #78
The addition of the `<SP>` should be handled uspream in the corresponding transformation. Currently, we use hocr2alto and page2alto. We can keep this issue here open as a reminder.

[2019-12-30 14:53] zuphilip commented on #89
I suggest to map `TopMargin` to `ocr_header` and `BottomMargin` to `ocr_footer`. This is usually what they stand for and normally they should only contain page numbers or running titles, see also https://github.com/altoxml/documentation/wiki/ALTO-Styles-and-Layout-usage . The example given here really look more like an edge case.

There are also float elements in LaTeX and there it is usually used

[2019-12-30 15:26] zuphilip commented on #56
For the example file https://raw.githubusercontent.com/kba/ocr-fileformat-samples/master/samples/hocr/1.1/417576986_0013.hocr I can run hocr2alto2.0 and the result looks fine. However, when I run hocr2alto2.1 the result looks not okay. But this happens only when I try to use the web GUI. Is this a bug on our side?

[2019-12-30 16:51] stweil commented on #87
@TuulaP, the command line now supported `--version` to show the software version.
Can we close this issue?

[2019-12-30 21:00] zuphilip commented on #87
Oh, yes let us close it now. I can confirm that it works for me.

@TuulaP If the problem remains, then feel free to reopen it.

[2019-12-30 21:00] #87 closed

[2019-12-30 21:04] zuphilip commented on #94
BTW there is already some kind of Web API (but not documented), e.g. https://digi.bib.uni-mannheim.de/ocr-fileformat/ocr-fileformat.php?do=transform&from=alto2.0&to=hocr&url=https://rawgit.com/kba/ocr-fileformat-samples/master/samples/alto/2.0/wetzel_reisebegleiter_1901_0021.alto .

[2019-12-31 08:42] filak commented on #95
Have you tried https://github.com/filak/hOCR-to-ALTO/blob/master/alto4__hocr.xsl ?

[2019-12-31 09:03] zuphilip commented on #95
I have seen the changes because they broke our test case in one PR. Therefore we switched to a fixed commit instead of the newest version always. But this is still on my todo list. Maybe I can do this now...

The different files alto*__hocr look almost identical. Therefore I would instead try to make a more generalized transformation alto__hocr which is applicable to alto files of different versio

[2019-12-31 10:11] stweil commented on #22
We could now also support conversion of GCV to PAGE. Would that be useful?

[2019-12-31 10:38] dinosauria123 commented on #22
I think it is useful.
If you want to add gcv2hocr to hocr-tools, It is OK, freely use for it.

Have a nice new year !

[2019-12-31 13:25] zuphilip opened #107 "Compatibility of XSLT 1.0 with new Saxon HE"
Some XSLT transformations like alto2.0__alto3.0 defined to use version 1.0 of XSLT which produces now with the new Saxon HE an error:
[code]
Moreover, if we run a v2.0 XSLT script (e.g. alto__text) now with the new Saxon HE there is the following warning:
[code]
Is there some option we should use for the Saxon call? Should we update/redefine the XSLT v1.0 scripts to v2.0?

[2019-12-31 13:41] zuphilip opened #108 "Multiple downloads"
Open the web GUI and run several different transformations and then click on the download buttons. This will open several download dialogs instead of simply the latest one and all different outputs from all previous transformations can be saved. There should only be the download of the current transformation shown.

[2019-12-31 13:44] zuphilip opened #109 "GCV2hocr not working: no file"
The transformation GCV2hocr in the Web GUI with the test file https://raw.githubusercontent.com/kba/ocr-fileformat-samples/master/samples/google-cloud/test_picture.json has an error message now: no file. This is unrelated of the PR #106.

[2019-12-31 15:13] #107 closed

[2019-12-31 15:19] zuphilip commented on #108
Duplicate of #93

[2019-12-31 15:19] #108 closed

[2019-12-31 15:49] stweil commented on #109
That conversion also did not handle input from STDIN. Did it ever work with the web interface?

I added a commit to PR #106 which fixes this issue.

[2019-12-31 16:02] zuphilip commented on #109
I don't know. That is something a format which I usually don't test. It could be an quite old issue, or maybe some changes in the upstream caused that.

[2019-12-31 17:33] zuphilip opened #113 "Add hocr__page transformation"
The transformation alto__page does actually also support hocr input and therefore we can simply use it for the transformation hocr__page as well. One should only need some symlinking and updateing the documentations. But we may want after PR #106 has been integrated to do this.

BTW one can already try this out by using the alto__page transformation on a hocr file, e.g. https://digi.bib.uni-mannhe

[2019-12-31 17:38] stweil commented on #113
Commit cedace708004a6971f6fbfb98ac039e82681a016 (now added to PR #106) should do that.

[2020-01-01 08:13] stweil commented on #22
GCV to PAGE is now implemented in PR #106.

Happy new year, too.

[2020-01-01 09:09] zuphilip commented on #15
There is also a newer implementation with Java (+Maven): https://github.com/Mewel/abbyy-to-alto

[2020-01-01 09:50] zuphilip opened #114 "Extend automated tests in CI"
We will have soon some new transformations which should be tested as well. Moreover, we should additionally validates the intermediate results always to have some more checks and to test also `ocr-validate`.

[2020-01-01 10:05] zuphilip opened #115 "Simplify validations"
Usually, I don't remember the exact name of the schema to validate aggainst, e.g.
[code]
is hard to remember. However, on the other side, it is usually easy to detect the exact version from inspecting the first lines with the stylesheet definition.

Thus, I suggest to simplify the validation, e.g. such that we can also use
[code]
which will then check whether the input file is valid against the st

[2020-01-01 22:02] filak commented on #6
This https://github.com/kba/hOCR-to-ALTO/commit/f447acea8cc90f8085e031d058626968475f4a0a has been merged - so this issue might be closed...

[2020-01-01 22:39] zuphilip commented on #6
I wasn't sure anymore if this was already included. Thank you for the confiromation @filak !

[2020-01-01 22:39] #6 closed

[2020-01-02 06:28] zuphilip opened #118 "Pretty print option for CLI"
Currently, the web GUI is automatically prettied printed the outputs while in the CLI the user has not much clue how to do that. It is written in the help that any Saxon parameter can be passed, but how to pretty print then is still not clear. For me it feels that the used `!indent=yes` used in the call from the web GUI is hard to find out. Thus, I suggest to introduce a new parameter `--pretty` i

[2020-01-02 06:30] zuphilip opened #119 "Add update mechanism"
_Originally posted by @stweil in https://github.com/UB-Mannheim/ocr-fileformat/pull/106#issuecomment-570098548_

[2020-01-02 06:42] zuphilip commented on #119
I am not sure that we need git submodules with which a lot of people also struggle to use. Moreover, this would only bee a partial update mechanism because we also directly install from a release (e.g. JPageConverter) or download from a website (e.g. Saxon).

Thus, I think we need a proper update mechanism in the Makefile. This then should check first for new code of ocr-fileformat and taking into

[2020-01-02 08:56] #93 closed

[2020-01-02 10:33] kba commented on #119
Easiest solution: clone the repository depth-1 to a tempdirectory, uninstall, reinstall. It's less efficient, but the cleanest.

[2020-01-02 10:37] kba commented on #118
You can append saxon cli args after `--` to call to transform, e.g.

[code]

Might be easier to just document that.

[2020-01-02 10:40] kba commented on #115
I would leave that option and optionally automate. Note that such automation requires reading and parsing the XML twice, once for the schema detection and once for the actual validation. For bulk processing this should be avoidable.

[2020-01-02 10:57] kba commented on #15
How does that compare with https://github.com/PRImA-Research-Lab/prima-page-converter @maxnth

[2020-01-02 16:07] filak commented on #78
According to the ALTO XSD the SP tag is optional - minOccurs="0"

And I do not see a way how to reliably calculate HEIGHT/WIDTH/VPOS/HPOS attributes from the hOCR data for the SP tag.

IMHO - proper handling of optional SP tag should be fixed by DFG viewer.

[2020-01-02 18:05] zuphilip commented on #115
I am fine with an additional option and leaving the more specific ones as well. :+1:

However, note that we might be able to detect the exact version of a page format easier by e.g. considering the first few lines and looking for some regex match similar to https://github.com/zotero/translators/blob/master/MARCXML.js#L41-L50 .

[2020-01-02 23:26] filak commented on #95
I can confirm the transformation of the @jtlz2's file works now with the latest version https://github.com/filak/hOCR-to-ALTO/blob/master/alto__hocr.xsl

[2020-01-02 23:35] filak commented on #89
@zuphilip I am fine with the following:

<xsl:template match="PrintSpace|BottomMargin|TopMargin">
  <xsl:apply-templates select="ComposedBlock"/>
  <xsl:apply-templates select="TextBlock"/>
</xsl:template>

The LeftMargin|RightMargin will need some testing - are there any example files available ?

[2020-01-03 00:04] filak commented on #89
There is a new DEV version of alto__hocr.xsl which supports TopMargin & BottomMargin:

https://github.com/filak/hOCR-to-ALTO/blob/master/dev/alto__hocr.xsl

If it works fine I will update the production file.

[2020-01-03 07:08] zuphilip commented on #89
I am not aware such examples, but maybe @cneud can help with this?

Thank you very much for implementing the Top and Bottom margin @filak ! I tested the new DEV version with the example here and it works. I try to test it a little further and let you know of any issues I encounter.

[2020-01-03 14:47] albig commented on #78
If the `<SP>` is not mandatory, we have to "ignore" it in the styles of the fulltext view and always make a space after a `<STRING>`.

This is what I've done in the DFG-Viewer styles now. Please have a look at the current master of the DFG-Viewer at [test.dfg-viewer.de](https://test.dfg-viewer.de/).

Please compare the example from above in [current master](https://test.dfg-viewer.de/show/?id=8071

[2020-01-03 15:25] kba commented on #89
* https://github.com/kba/ocr-fileformat-samples/blob/master/samples/alto/2.0/417576986_0078.alto
* https://github.com/kba/ocr-fileformat-samples/blob/master/samples/alto/2.0/417576986_0012.alto

(ht @bertsky in gitter)

[2020-01-03 15:47] filak commented on #89
@kba I do not see any content in the margin elements - there will be no output produced by the transformation.

I think the Top and Bottom margins have been fixed now.

What to do with the Left and Right margins? There are no respective float elements specified in the hOCR spec (like ocr_header and ocr_footer).

If there are no real life examples with Left/Right margins I suggest to close this iss

[2020-01-03 15:55] filak commented on #78
@albig IMHO the second one seems better from user perspective - it is more readable/compact and if you need to copy it and ie. quote the text in your paper/text you will need to remove the blanks manually.

[2020-01-03 16:17] kba commented on #89
Ah, I didn't realize. Maybe @cneud has ALTO with margin notes.

[2020-01-06 09:11] #113 closed

[2020-01-06 09:13] #109 closed

[2020-01-06 09:17] zuphilip commented on #79
See #97, #100, #106.

[2020-01-06 09:17] #79 closed

[2020-01-06 09:23] zuphilip opened #120 "Release version 0.3.0 and 1.0.0"
After merging PR #116 we should finally release version 0.3.0 and test it extensively and fix any occurring issues. Is there anything else we definitely want for a version 1.0.0 afterwards?

[2020-01-06 11:04] filak commented on #89
There is a new DEV version of hocr__alto4.xsl for testing which supports TopMargin & BottomMargin:

https://github.com/filak/hOCR-to-ALTO/blob/master/dev/hocr__alto4.xsl

If it works fine I will update all the production files.

[2020-01-06 15:12] sebastian-meyer commented on #78
@albig IMHO the spacing looks better now (in master), but the linebreaks seem a bit random...

[2020-01-06 18:31] zuphilip commented on #89
LGTM

[2020-01-09 12:19] zuphilip commented on #120
Can someone now make a release 0.3.0?

[2020-01-09 12:48] stweil commented on #120
See https://github.com/UB-Mannheim/ocr-fileformat/releases/tag/v0.3.0.

[2020-01-12 10:06] zuphilip commented on #95
Yes, thank you. This is updated in e0d925069578507dc951dcd48c9e4626397197b0, which is now part of [v0.3.0](https://github.com/UB-Mannheim/ocr-fileformat/releases/tag/v0.3.0).

[2020-01-12 10:06] #95 closed

[2020-01-12 10:14] zuphilip commented on #81
With [v0.3.0](https://github.com/UB-Mannheim/ocr-fileformat/releases/tag/v0.3.0) we support now validation of ALTO 4.0 and 4.1 as well as transformations from and to the new ALTO versions. Thus, I would say that we can close this issue now. However, note that AFAIK we are treating the different ALTO versions more or less the same. If any new feature of ALTO 4.0 or 4.1 would be interesting to suppo

[2020-01-12 10:14] #81 closed

[2020-01-12 10:22] zuphilip commented on #56
With the updated SAXON and updated hocr__alto scripts I cannot anymore reproduce this issue. The file I have linked above works fine for all transformations in v0.3.0. @jbaiter Can you test your examples files now again and let us now if there is still a problem? Otherwise I suggest to close this issue here.

[2020-01-27 14:57] OmriPi opened #121 "GCV to HOCR or PAGE conversion not working"
Hi all,

I am new to using this software so please bear with me if this has been asked before or I'm not using the tool correctly.

I have the JSON output of google vision OCR of a PDF (emphasis on PDF and not an image).
I would like to create a searchable version of that PDF using the OCR results. I have tried using gcv2hocr but it doesn't seem to work on PDFs, or it has some other error, because

[2020-01-28 12:13] kba commented on #121
To convert PDF to Google Cloud Vision JSON,, you need to use Google Cloud Vision which is a commercial cloud software we neither support nor endorse. Once you have that JSON data by using their services, you can convert it to hOCR.

[2020-01-28 12:16] kba commented on #121
You could also convert to PAGE via hOCR and try https://github.com/PRImA-Research-Lab/prima-page-to-pdf

[2020-01-30 09:17] OmriPi commented on #121
Hi @kba , thank you for the answer. I think I may have not explained it correctly, or you misunderstood me:
I have used google vision to get the JSON, I already have it. I am having a problem with using the gcv to HOCR transformer found in this package. When I use it on the JSON I got from google vision, I am getting an almost blank output, with only the metadata.

When I'm trying to convert it to

[2020-01-30 09:20] OmriPi commented on #121
[extracted_pdf.pdfoutput-1-to-1.txt](https://github.com/UB-Mannheim/ocr-fileformat/files/4133176/extracted_pdf.pdfoutput-1-to-1.txt)

This is the JSON from gcv that I'm using, it's a JSON of the sample document that google uses in the tutorial.
Can you try and see if transforming it works correctly for you?
Thanks!

[2020-01-30 09:55] kba commented on #121
Then it's best to ask @dinosauria123 (not sure whether they're subscribed to issues here but they should see the mention). The code is at https://github.com/dinosauria123/gcv2hocr

[2020-01-30 23:29] scottschreckengaust opened #122 "Support conversion from and to Textract JSON"
Textract has an output results format in JSON.

https://docs.aws.amazon.com/textract/latest/dg/textract-dg.pdf

Specifically, the three types of analysis, https://docs.aws.amazon.com/textract/latest/dg/how-it-works-analyzing.html for the categories:

1. text,
2. forms, and
3. tables

[2020-01-31 00:05] dinosauria123 commented on #121
Hi,
If you have problem please open issue at https://github.com/dinosauria123/gcv2hocr.

[2020-02-06 11:15] OmriPi commented on #121
Ok @dinosauria123 ! Thanks

[2020-02-28 11:36] jbarth-ubhd opened #123 ""ocr-transform page alto ... ...": loosing text"
Example page generated with OCR-D ocrd-calamari-recognize
[OCR_0007.zip](https://github.com/UB-Mannheim/ocr-fileformat/files/4266853/OCR_0007.zip)

`ocr-transform page hocr ... ... && ocr-transform hocr alto2.0 ... ...` instead is loosing page size.

[2020-02-28 12:02] jbarth-ubhd commented on #123
no `open()` syscall on any `/usr/local/share/ocr-fileformat/xslt/*` when doing `strace -f`.

But calling `execve("/usr/bin/java", ["java", "-jar", "/usr/local/share/ocr-fileformat/vendor/JPageConverter/PageConverter.jar", "-neg-coords", "toZero", "-source-xml", "OCR_0007.xml", "-target-xml", "xxx", "-convert-to", "ALTO"], 0x5614283d4a10 /* 24 vars */) = 0`

[2020-02-28 12:03] jbarth-ubhd commented on #123
I've checked the docs of the most recent JPageConverter: `-convert-to` available versions:
 * LATEST
 * 2013-07-15
 * 2010-03-19
 * but not: ALTO

[2020-02-28 13:07] jbarth-ubhd commented on #123
Perhaps duplicate of https://github.com/PRImA-Research-Lab/prima-page-converter/issues/13

[2020-02-28 13:46] kba commented on #123
Indeed, PAGE-ALTO conversion requires word segmentation. @maxnth Can you think of any sensible workaround?

[2020-02-28 14:06] jbarth-ubhd commented on #123
Did a quick-and-dirty script: https://gist.github.com/jbarth-ubhd/0e867c20008639145386a7978fdb27a4

[2020-02-28 14:10] kba commented on #123
Great but maybe we can integrate pseudo-word creation on-the-fly directly into the converter, with a cmdline flag.

[2020-02-28 18:31] maxnth commented on #123
Word level PAGE XML output for calamari has already been planned for some time now but sadly we didn't get to actually implementing it yet.
It's one of my next tasks though and hopefully will get included in calamari within the upcoming month.
I don't know whether that's too late for this specific case but maybe the info that the feature is being worked on might help anyways.

[2020-03-17 10:07] zuphilip opened #124 "New Saxon version 10.2 is out"
We can update to the new Saxon version 9.9.1.7 which is out since some days:

https://sourceforge.net/projects/saxon/files/Saxon-HE/9.9/

https://sourceforge.net/projects/saxon/files/Saxon-HE/9.9/SaxonHE9-9-1-7J.zip/download

In principle this only means a similar commit like in https://github.com/UB-Mannheim/ocr-fileformat/commit/4faff379843f4923960cbba6cbbd0a741fb4ffe6 but this should be tested

[2020-03-23 08:21] zuphilip commented on #124
And the next version on the maior release 10:

https://sourceforge.net/projects/saxon/files/Saxon-HE/10/Java/

https://sourceforge.net/projects/saxon/files/Saxon-HE/10/Java/SaxonHE10-0J.zip/download

[2020-03-24 13:20] filak commented on #89
I have updated the master a while ago, just forgot to let you know...

https://github.com/filak/hOCR-to-ALTO/commit/61bb10e6f36a6b9c65776013e2dd22a52db3575c

[2020-04-29 12:51] kba opened #125 "Google Cloud Vision to PAGE-XML"
It was [mentioned before](https://github.com/UB-Mannheim/ocr-fileformat/issues/121#issuecomment-579218186) but @cneud just reminded me of https://github.com/PRImA-Research-Lab/cloud-vision-ocr-to-page . Should not be too hard to integrate and would allow using GCV results in OCR-D/Transkribus/OCR4all.

BTW: Has anyone experience with the [Azure Computer Vision API](https://azure.microsoft.com/en-u

[2020-05-18 08:05] zuphilip commented on #124
Next is 10.1:

https://sourceforge.net/projects/saxon/files/Saxon-HE/10/Java/SaxonHE10-1J.zip/download

[2020-06-25 12:48] stweil commented on #120
See [milestone v1.0.0](https://github.com/UB-Mannheim/ocr-fileformat/milestone/3). Maybe other issues should be added there, too.

[2020-08-31 07:08] zuphilip commented on #124
Next is 10.2:

https://sourceforge.net/projects/saxon/files/Saxon-HE/10/Java/SaxonHE10-2J.zip/download

[2020-08-31 12:02] stweil commented on #124
Citation from http://www.saxonica.com/download/java.xml:

Pull request #127 updates to that version.

[2020-08-31 12:08] stweil commented on #120
As soon as PR #127 is merged, only support for GCV (issue #125) is missing for milestone v1.0.0.

[2020-09-18 11:45] stweil commented on #120
A new release v0.4.0 is now available.

[2020-12-21 11:13] jbarth-ubhd commented on #123
seems not to be fixed in v0.4.0.

[2020-12-21 11:42] kba commented on #123
ocrd_calamari is at 1.0.0 and calamari at 1.0.5 but word-level PAGE output is indeed not implemented yet in calamari AFAICT

[2021-01-22 17:42] jbarth-ubhd opened #129 "alto to text: too many spaces"
Example alto excerpt:

[code]
converts to text
[code]

[2021-01-22 17:49] kba commented on #129
You mean every `<SP/>` results in two spaces, not one?

[2021-01-22 17:54] jbarth-ubhd commented on #129
I don't know where the two spaces exactly come from, but there should only 1 I'd say.

[2021-01-22 18:03] kba commented on #129
ALTO-to-Text transformation is using @filak's XSLT (https://github.com/filak/hOCR-to-ALTO/blob/master/alto__text.xsl), this needs to be fixed upstream. Can you open an issue there as well pls?

[2021-01-22 18:33] jbarth-ubhd commented on #129
opened: https://github.com/filak/hOCR-to-ALTO/issues/22

[2021-01-25 11:06] kba commented on #129
fix: https://github.com/mittagessen/kraken-models/pull/5

[2021-02-05 02:01] mikegerber commented on #123
ocrd_calamari (but AFAIK *not* Calamari) can produce word and glyph level segmentation since February 2020, it just does not do so by default. Sorry I didn't speak up earlier, I just didn't know about this issue here.

@jbarth-ubhd You need to set ocrd_calamari's parameter `-P textequiv_level word`.

Quoting ocrd_calamari's README:

ocrd_calamari does more than Calamari here because we wanted to i

[2021-02-05 02:11] mikegerber commented on #123
I wasn't aware of that until now, good to know! And good it's already in ocrd_calamari, albeit originally for an entirely different reason. 😀

[2021-02-05 12:22] mikegerber commented on #123
What prima-page-converter/ocr-fileformat could do, as far as I can tell from this issue: Give a user-friendly warning that there are no words in the PAGE document, so that ALTO conversion is not possible.

[2021-03-02 19:37] sarepal commented on #121
Is this issue still live? I'm getting a similar error (`org.xml.sax.SAXParseException; lineNumber: 1; columnNumber: 1; Content is not allowed in prolog.`) when I try to convert GCV to PAGE. I'm attaching a zip file with the JPG and two versions of GCV: gcv-google-api (which was made with a Python script I wrote to interact with the Google API) and gcv-sh (which was derived from the shell script pr

[2021-03-17 14:54] mikegerber opened #133 "Proxy support"
When a HTTP proxy is needed, conversion from PAGE to ALTO is failing:

[code]

Unfortunately with the network setup here, this also is a long wait for a connection error because packets are simply dropped...

The preferred solution for me would be that ocr-fileformat would parse the somewhat standard `http_proxy` environment variable and passes the correct parameter to `java`:

[code]

[2021-03-17 14:54] mikegerber commented on #133
https://github.com/OCR-D/ocrd_fileformat/issues/29

[2021-03-17 14:57] mikegerber commented on #133
Example `http_proxy` variable:
[code]

[2021-03-17 15:00] mikegerber commented on #133
I should mention that I know from PAGE Viewer that setting these command line parameters solves the issue, so I strongly suspect it will also fix it for this problem with PAGE Converter.

[2021-03-17 15:23] mikegerber commented on #133
After some research I found "the Java enterprise solution ™️", i.e. setting another env variable:

[code]

So I'm closing this issue! 😀

[2021-03-17 15:23] #133 closed

[2021-03-17 15:36] stweil commented on #133
Thanks for examining this issue. I think it would be good to document the solution here in the README and also on some suitable place for OCR-D. CC'ing @kba for his opinion.

[2021-03-17 15:53] mikegerber commented on #133
I agree. It's not the first time I looked for a solution for the "Java vs. HTTP proxy problem", and it's relatively hard to find documentation of that `JAVA_TOOL_OPTIONS` solution.

[2021-03-19 16:07] mikegerber commented on #133
I've opened https://github.com/OCR-D/ocrd_fileformat/issues/32 to address our immediate need of having an offline conversion of PAGE → ALTO, but it is also conceivable to implement the solution here

[2021-04-19 12:57] kba opened #135 "Support conversion to MiniOCR"
Minimal-noise OCR format for full text indexing https://dbmdz.github.io/solr-ocrhighlighting/formats/#miniocr

[2021-05-13 10:44] cboulanger opened #136 "Web interface in Docker container/ Error when uploading document: "Must be either POST with the field 'file'....""
I am running the Web service in a Docker container. When trying to upload and process a file, I am getting the following Error: Must be either POST with file field 'file' or GET with param 'url'.

![Bildschirmfoto 2021-05-13 um 12 37 58](https://user-images.githubusercontent.com/75390/118114776-57b20080-b3e8-11eb-8f00-d4cdcd314d64.png)

Environment:
 - MacOS 11.3.1
 - Docker Engine v20.10.0
 - ocr

[2021-05-13 10:48] cboulanger commented on #136
Ok, in the logs I see this:
[code]
Seems like you need to increase the file size limit for PHP or, if you don't want to do that, provide an more informative error message.

[2021-05-19 19:06] mikegerber opened #138 "page__text.xsl is not honoring the reading order"
page__text.xsl is not honoring the reading order in the PAGE-XML (`pc:ReadingOrder`), which gives completely false results. For [this page](https://qurator-data.de/examples/actevedef_718448162.first-page.zip), I get this text (shortened):

[code]

For comparison, `dinglehopper-extract` gives the correct text:

[code]

Image from the ZIP (converted to JPEG), for easier understanding:

![OCR-D-IMG_0

[2021-05-19 20:20] stweil commented on #138
The XSL which is used for that conversion is too simple to handle more complex PAGE XML. I don't know whether a better XSL is available from other projects.

Did you try whether `JPageConverter` which is already used for the PAGE to ALTO conversion does a better job? As far as I know it can also produce text.

[2021-05-20 07:41] stweil commented on #138
It's both. PAGE XML is complex, so I would never expect a perfect tool which supports all of its features.

[2021-05-20 08:24] mikegerber commented on #138
It's not imperfection by not supporting some features, it's producing a **wrong result** if it's not honoring the reading order, for a lot of real world PAGE XML files.

[2021-05-20 08:38] stweil commented on #138
The texts in the XML file also look strange when I look at them with `less` or `vi`. Do you use some special encoding? It's not UTF-8!

[2021-05-20 09:36] mikegerber commented on #138
The file in https://github.com/UB-Mannheim/ocr-fileformat/issues/138#issue-895785528 was created (by a SBB contractor) using Aletheia and uses their encoding scheme, which uses a lot of PUA characters, which in part is based on MUFI (See (https://www.primaresearch.org/www/assets/tools/Special%20Characters%20in%20Aletheia.pdf)). So it's UTF-8, but with private characters. But encoding is an entirel

[2021-09-15 12:54] karkraeg opened #139 "Transformation for ImageWare MyBib"
I wrote a conversion script to transform ImageWare MyBib eL OCR to ALTO: https://github.com/karkraeg/im2alto

Example for ImageWare OCR: https://library.fes.de/ddb/vs07100/VS07100_1.xml

Please feel free to use the XSL in your Tool!

[2021-09-16 05:27] stweil commented on #139
Thank you! I'm afraid we are currently busy with a lot of other things, so if someone sends a pull request, that would help us.

[2021-09-16 06:16] karkraeg commented on #139
I`d be happy to, but the subdirectory XSLT has it that XSL files are ignored:

![grafik](https://user-images.githubusercontent.com/8436596/133559423-7756e634-f5c9-4119-8d0a-16a6093ae13d.png)

Also we would need a corresponding script in https://github.com/UB-Mannheim/ocr-fileformat/tree/master/script/transform correct?

I'll look into it!

[2021-11-08 20:20] jcuenod commented on #121
@sarepal  I'm still having issues converting GCV to HOCR and, I could be wrong, I think the conversion to PAGE goes via HOCR. Are you using a result from `TEXT_DETECTION` or `DOCUMENT_TEXT_DETECTION`?

[2021-11-30 12:30] #139 closed

[2021-12-03 15:26] bertsky opened #143 "page__alto transformation mixes XML with logging in the output"
…resulting in invalid XML of course. Here is the culprit:

https://github.com/UB-Mannheim/ocr-fileformat/blob/d0c78538e35d4cfff23fda0a82a75440f15af0e6/script/transform/page__alto#L18

Since page-to-alto has its own logging (to stdout as well), this will get warnings and errors mixed into the output.

[2022-01-12 17:14] bertsky commented on #25
It is, but IIUC the schema has moved to https://gitlab.com/readcoop/transkribus/TranskribusCore/-/blob/master/src/main/resources/xsd/pagecontent_extension.xsd

We could now support it as `transkribus` by adding a script based on https://github.com/kba/transkribus-to-prima

[2022-01-12 17:21] kba commented on #25
Yes, something like `ocr-transform transkribus-page page2019` for ocr{d_,-}fileformat will be next steps to properly integrate this into OCR-D.

[2022-01-12 17:47] stweil commented on #25
Maybe `page-transkribus`? Or `page-readcoop`? Or `page2013t`?

[2022-01-12 17:57] bertsky commented on #25
It's 2022 and we are not short of bytes any longer: I recommend against such abbreviations.

Also: `page2013transkribus`

[2022-01-12 18:55] stweil commented on #25
We already have cryptical short names like `gcv` (that's why I suggested to extend the help message), but `page2013transkribus` is fine for me, too.

[2022-01-23 16:09] stweil commented on #143
@bertsky, can we close this issue?

[2022-01-23 16:18] bertsky commented on #143
Yes we can.

[2022-01-23 16:18] #143 closed

[2022-01-23 17:04] stweil commented on #129
So is this issue fixed and can it be closed?

[2022-01-23 17:06] stweil commented on #124
Meanwhile Saxon 10.6 is the current stable version, so we should update to that version.

[2022-01-23 18:04] stweil commented on #124
Pull request #144 updates Saxon to version 10.6, so this issue can be closed as soon as these changes were merged.

[2022-01-24 15:44] kba commented on #129
Yes, it has been fixed. If you have an older installation of ocr-fileformat (before feb 2021), you'll need to re-clone hOCR-to-ALTO:

[code]

(we should really use git submodules to make tracking changes and updating easier)

[2022-01-24 17:17] #129 closed

[2022-04-02 12:31] bertsky opened #145 "page page2019: does not work"
Due to https://github.com/PRImA-Research-Lab/prima-page-converter/issues/21, the transform `page page2019` does not actually do anything at the moment – the schema stays at the input version.

You have to explicitly use `-convert-to LATEST` to make it work.

[2022-04-02 12:39] #145 closed

[2022-06-23 15:39] kba opened #147 "Conversion from ABBYY to ALTO"
https://github.com/Mewel/abbyy-to-alto

ht @mikegerber

[2022-06-23 15:51] stweil commented on #147
Duplicate of issue #15?

[2022-06-23 16:09] kba commented on #147
Yes, sry.

[2022-06-23 16:09] #147 closed

[2022-06-23 17:06] stweil commented on #15
Yes, sorry, that was the one which I meant.

[2022-06-24 14:11] mikegerber commented on #15
https://github.com/PRImA-Research-Lab/prima-page-viewer/issues/24 - I opened the issue against prima-page-viewer as it is affected, too.

[2022-06-24 14:12] mikegerber commented on #15
Sort of - it does not produce `Processing` tags (or the ALTO v2 equivalent), so it is lacking too.

[2022-06-26 06:36] stweil commented on #15
Somehow related: I just found a [converter from ABBYY to hOCR](https://github.com/stweil/archive-hocr-tools/blob/master/docs/source/index.rst#abbyy-to-hocr) made by the Internet Archive. No own tests done so far.

[2022-07-06 16:56] stweil commented on #124
Now there exists a bug fix release 10.8, and 11.3 is the latest release.

[2022-07-06 18:44] stweil commented on #136
The latest code no longer limits the upload size when running in a Docker container.

[2022-07-07 15:34] stweil commented on #124
10.8 is now used in git master (and 11.x will follow soon), so I close this issue.

[2022-07-07 15:34] #124 closed

[2022-09-04 06:57] stweil opened #150 "[feature request] Support MacOS"
The current `bash` scripts contain code which does not work on MacOS out of the box (incompatible usage of `sed`, associative arrays, maybe more). Users are forced to install newer versions of `bash` and `sed` (which might be undesired) to run it.

Perhaps all `bash` scripts should be replaced by Python3 scripts. `python3` is already used in the code, and using it everywhere might even simplify th

[2022-11-07 14:28] bertsky opened #153 "regression: page-to-alto is missing"
Recently, we lost ability for `page alto` conversion. For some reason, during `make install`, no `page-to-alto` gets installed. Investigating...

[2022-11-07 15:01] stweil commented on #153
Thanks, I'll have a look.

[2022-11-07 15:08] bertsky commented on #153
have a look at #154, then :)

[2022-11-07 15:14] stweil commented on #153
I tested f799fdda56adc43e2211017ec593f2ad72891bb0 (the one before the "culprit"), and it also did not install `page-to-alto`.

[2022-11-07 15:15] stweil commented on #153
`gcv2hocr` is missing, too.

[2022-11-07 20:36] stweil commented on #153
I checked all my local `ocrd_all` builds from 2022 and only found a single one from May 15 with `bin/page-to-alto`. @bertsky and @kba, are you sure that there is a regression?

[2022-11-17 15:39] bertsky commented on #125
BTW the existing integration of GCV as part of the PRImA converter (transform `gcv page` linking to `alto page`) is **broken**: it delegates to `java -jar PageConverter.jar -source-xml $INFILE` instead of `java -jar PageConverter.jar -source-json $INFILE`:

https://github.com/UB-Mannheim/ocr-fileformat/blob/8878b8aaed919f500e7ad0d33e881c9d872c4fb6/script/transform/alto__page#L19

[2022-11-17 16:30] bertsky commented on #125
I'm not sure. Perhaps the PRImA convert was capable of detecting the format automatically before. But it does not [look like it](https://github.com/PRImA-Research-Lab/prima-page-converter/commit/e209c9d94d7c43832c94692becaf41f24475cf84#diff-09b673616b4da6ff1304f50e02e5508dd53085136ae3e20cc06afd47716cfc04).

Anyway, here is a fix: https://github.com/UB-Mannheim/ocr-fileformat/pull/156

[2022-11-17 16:31] bertsky commented on #125
I know. That's because in this example, the input data is incomplete. See [here](https://gitter.im/OCR-D/Lobby?at=63765d2d655bc46025cfb9fe)

[2022-11-18 09:45] jsbien opened #157 "Feature request: Page concatenation during conversion"
Transkribus (https://readcoop.eu/transkribus/?sc=Transkribus), which just reached 100 000 users, export PAGE and ALTO as a single file for every page and the actual page numbers are not stored in the files. In my workflow ALTO -> hOCR-> dsed I have to edit  the page numbers in *.dsed files before using them  as a valid djvused input (to use the transcription as the hidden text layer in a DjVu docu